# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Lambda build artifacts
*.zip
build/
dist/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env
.env.*
